<!DOCTYPE html>
<html lang="vi">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <header>
        <div>
            <a href="/dangNhap">Đăng nhập</a>
            <a href="/chonComTam">Chọn cơm tấm</a>
            <a href="/datComTam">Đặt cơm tấm</a>
            <a href="/chiTietDonHang">Chi tiết đơn hàng</a>
        </div>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</body>
</html>
